* {
    font-family: 'Roboto Mono', monospace;
}

.cards {
    border: 1px solid black;
    width: 215px;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

.card {
    display: grid;
    grid-template-columns: repeat(5 , auto) ;
}

p {
    color: gray;
}

img {
    width: 215px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
}