* {
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: black;
}

.cards {
    border: 0.5px solid rgb(177, 177, 177);
    width: 215px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.card {
    display: grid;
    grid-template-columns: repeat(5 , auto) ;
}

p {
    color: gray;
}

img {
    width: 215px;
    border-radius: 15px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
}